.shop-app-container{
  width: 100%;
  padding: 20px 20px;
  background-color: var(--app-background-color);
}
/* slideshow advertisement */
.container-shop-app-ad{
  justify-content: center;
  position: relative;
  height: 300px;
  margin-bottom: 15px;
}
.container-shop-app-ad__slideshow{
  position: relative;
  overflow: hidden;
  margin: 0 12px;
  border-radius: 12px;
}
.container-shop-app__slides{
  display: flex;
  height: 100%;
  transition: all .7s linear;
}
.container-shop-app__slides img{
  display: block;
  min-width: 100%;
  height: auto;
}
.slideshow-btn{
  position: absolute;
  background-color: transparent;
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 5px 5px;
}
.slideshow-btn i{
  font-size: 3rem;
}
.slideshow-btn:hover{
  background-color: rgba(0, 0, 0, 0.3);
}
.slideshow-btn--next{
  top: 150px;
  right: 0;
}
.slideshow-btn--previous{
  top: 150px;
  left: 0;
}
.slideshow-pagination{
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translateX(-50%);
}
.slideshow-pagination__item{
  font-size: 1.6rem;
  background-color: transparent;
}
.slideshow-pagination__item:not(.slideshow-pagination__item--active):hover i{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.slideshow-pagination__item--active i{
  background:black;
  border-radius: 50%;
}
.container-shop-app-ad-topic{
  border-radius: 12px;
  overflow: hidden;
  margin: 0 12px;
}
.container-shop-app-ad-topic a{
  display: block;
  width: 100%;
  height: 100%;
}
.container-shop-app-ad-topic img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
/* display product */
.container-shop-app-display-product{
  
}
.container-shop-app-wrap-product-and-filter{
  display: flex;
  padding: 0 20px;
}
.container-shop-app-filter{
  display: flex;
  flex-direction: column;
}
.container-shop-app-filter-category{
  
}
.container-shop-app-filter-category__label{
  font-size: 2rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.container-shop-app-filter-category-list{

}
.container-shop-app-filter-category-item{

}
.container-shop-app-filter-category-item > a{
  display: block;
  color:var(--text-color);
  font-size: 1.6rem;
  padding: 5px 10px;
}
.container-shop-app-filter-search{
  display: flex;
  flex-direction: column;
}
.container-shop-app-filter-search__lablel{
  color: black;
}
.container-shop-app-filter-search-price{

}
.container-shop-app-filter-search-price__label{
  color: var(--text-color);
}
.container-shop-app-filter-search-price-range{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-shop-app-filter-search-price-range__from{
  width: 10rem;
  font-size: 2rem;
  padding: 10px;
}
.container-shop-app-filter-search-price-range__to{
  width: 10rem;
  padding: 10px;   
  font-size: 2rem;
}
.container-shop-app-filter-search-price-range__line{
  height: 1px;
  background-color: #ccc;
  flex: 1;
  padding: 0 5px;
  margin: 0 5px;
}
.container-shop-app-filter-search-price-range__btn{
  margin-top: 20px;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}
.container-shop-app-filter-search-price-range__btn:hover{
  filter: brightness(150%);
}

.container-shop-app-filter-search-favorite{

}
.container-shop-app-filter-search-favorite__label{
  color: var(--text-color);
}
.container-shop-app-filter-search-favorite-input{
  display: flex;
  align-items: center;
}
.container-shop-app-filter-search-favorite-input input{
  width: 16px;
  height: 16px;
}
.container-shop-app-filter-search-favorite-input span{
  font-size: 1.6rem;
}
.container-shop-app-filter-search-favorite__btn {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.shop-app-product-header{
  width: 100%;
  background-color: white;
}
.shop-app-product-header__label{
  padding: 5px 10px;
  font-size: 3rem;  
  width: fit-content;
  border-bottom: 3px solid red;
}
.shop-app-product-header__label > span{
  font-weight: 700;
  color: var(--primary-color);
}
.shop-app-product-header__label > i{
  color: red;
}
.shop-app-product-display{
  margin-top: 10px;
  flex-wrap: wrap;
}
.shop-app-product-display-item{
  padding: 0 12px;
}
.product-display-item-container{  
  padding-bottom: 24px;
  position: relative;
}
.product-display-container-box-shadow{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 2px;
}
.product-display-container-box-shadow:hover{
  transform: translate(0,-5px);
  border: 1px solid var(--primary-color);
  overflow: visible;
}
.shop-app-product-display-item > a{
 display: block;
}
.product-display-item__img{
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain ;
  background-position: center;
  background-color: var(--primary-color);
}
.product-display-item__favorite{
  font-size : 1.3rem;
  top:25px;
  left: -5px;
  line-height: 1.3rem;
  padding: 2px 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
  position:absolute;
  background-color: var(--primary-color);
}
.product-display-item__favorite::before{
  content: "";
  top: 100%;
  left: 0;
  border-top: 5px solid rgba(0, 0, 0, 0.8);
  border-left: 5px solid transparent;
  position: absolute;
  
}
.product-display-item-description{
  background-color: white;
  padding: 8px;
  width: 100%;
}
.product-display-item-description__name{
  display: -webkit-box;
  /* white-space: nowrap; */
  overflow: hidden;
  font-size: 1.6rem;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 2;
}
.product-display-item-description-price{
  color: var(--primary-color);
  text-align: end;
}
.shop-app-footer{
  padding: 20px 30px;
  width: 100%;
}
.footer-information{
  display: flex;
  justify-content: space-between;
}
.footer-information-item{
  
}
.footer-information-item__label{
  
}
.footer-information-item-list{
  
}
.footer-information-item-list--wrap{
  display: flex;
  flex-wrap: wrap;
}
.footer-information-item-item{
  font-size: 1.6rem;
  padding: 0 25px;
}
.footer-information-item-item > a{
  display: block;
  display: flex;
  align-items: center;
}
.footer-information-item-item span{
  color: var(--text-color);
  margin-left: 5px;
}
.footer-information-item-list--wrap .footer-information-item-item{
  padding: 5px 10px;
}
.shop-app-footer-address{

}
.shop-app-footer-address__label{
  font-size: 1.6rem;
}
.shop-app-footer-address__description{
 font-size: 1.6rem;
}
.shop-app-footer-copyright__label{
  margin: 0;
}