.shop-app-header{
  
}
.nav{
  background: var(--nav-background-gradient-hydro);
  display: flex;
  align-items: center;
}
.nav-home{
  margin: 0 2rem;
}
.nav-home-link{
  display: block;
  display: flex;
  align-items: center;
}
.nav-home-link__logo{
  font-size: 5rem;
  color: white;
}
.nav-home-link__name{
  color: white;
  font-size: 3rem;
} 
.nav-home-link__name:hover{
  color: hsl(0, 92%, 62%);
}
.nav-category{
  margin: 0 1rem;
}
.nav-category-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-category-btn-logo{
  font-size: 3rem;
  color: white;
  padding: 0 0.7rem;
}
.nav-category-btn-wrap{
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 700;
  padding: 0 0.7rem;
}
.nav-category-btn-expand{
  font-size: 3rem;
  color: white;
  transition: .5s ease;
}
.nav-category-content{
  background-color: var(--dropdown-content-color);
  top: 55px;
  width: 250px;
}
.nav-category:hover .nav-category-btn-expand{
  transform: rotate(180deg);
}
.nav-category-content::before{
  content: "";
  position: absolute;
  top: -20px;
  left: 50px;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--dropdown-content-color);
  border-left: 10px solid transparent;
}
.nav-category-content::after{
  content: "";
  position: absolute;
  bottom: 100%;
  width: 150px;
  background-color: transparent;
  height: 25px;
}
.nav-category-content-list{
  display: block;
}
.nav-category-content-item{
  padding: 5px 0;
}

.nav-category-content-item:hover{
  background-color: var(--nav-background-color);
}
.nav-category-content-item:hover > a{
  color: white;
}
.nav-category-content-item-link{
  display: block;
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 5px 5px;
}
.nav-category-content-item-dropdown{

}
.nav-category-content-item-dropdown-btn{

}
.nav-category-content-item-dropdown-content{
  width: 300px;
  top: 0;
  left: 100%;
  background-color: rgb(134, 192, 250);
  
}
.nav-category-content-item-dropdown-content > h2{
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.nav-category-content-item-dropdown-item:hover{
  background-color: var(--nav-background-color);
}
.nav-category-content-item-dropdown-item > a{
  display: block;
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 5px 5px;
}
.nav-search{
  display: flex;
  flex-direction: column;
}
.nav-search-form{
  display: flex;
  align-items: stretch;
}
.nav-search-form-input{
  position: relative;
  width: 600px;
}
.nav-search-form-input__box{
  display: block;
  width: 100%;
  font-size: 2rem;
  padding: 5px;
  height: 100%;
  border-radius: 0;
}
.nav-search-form-input__box:focus + .nav-search-form-input-autocomplete{
  display: block;
}
.nav-search-form-input-autocomplete{
  display: none;
  position: absolute;
  width: 100%;
  background-color: var(--dropdown-content-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.nav-search-form-input-autocomplete-list{

}
.nav-search-form-input-autocomplete-item{

}
.nav-search-form-input-autocomplete-item__icon{
  color: rgba(0, 0, 0, 0.4);
  margin-right: 10px;
}
.nav-search-form-input-autocomplete-item__label{
  color: var(--text-color);
}
.nav-search-form-input-autocomplete-item:hover{
  background-color: var(--nav-background-color);
}
.nav-search-form-input-autocomplete-item > a{
  font-size: 1.6rem;
  font-weight: 700;
  padding: 5px 10px;
  display: block;
}
.nav-search-form-btn{
  background-color: rgb(13, 92, 182);
  padding: 7px;
  border-radius: 0;
}
.nav-search-form-btn__logo{
  font-size: 2rem;
  color: white;
}
.nav-search-form-btn__name{
  font-size: 2rem;
  color: white;
}
.nav-search-form-btn:hover{
  cursor: pointer;
  opacity: 0.8;

}
.nav-search-popular{

}
.nav-search-popular-list{
  display: flex;
  flex-direction: row;
}
.nav-search-popular-item + .nav-search-popular-item{
  margin-left: 10px;
}
.nav-search-popular-item > a{
  display: block;
  padding: 3px ;
  font-size: 1.4rem;
  color: white;
}