.shop-app-header-path{

}
.shop-app-header-path-list{
  display: flex;
  background-color: var(--app-background-color);
}
.shop-app-header-path-item{
  position: relative;
  padding: 5px 10px;
}
.shop-app-header-path-item::before{
  content: "";
  position: absolute;
  width: 2px ;
  height: 20px;
  display: block;
  background-color: var(--text-color);
  right: 0;
  transform: rotate(40deg);
  bottom: 2px;
}
.shop-app-header-path-item::after{
  content: "";
  position: absolute;
  width: 2px ;
  height: 20px;
  display: block;
  background-color: var(--text-color);
  right: 0;
  transform: rotate(-40deg);
  top: 2px;
}
.shop-app-header-path-item > a{
  font-size: 1.6rem;
  display: block;
  padding: 5px 10px;
  color: var(--text-color);
}
.shop-app-product{
  padding: 20px 50px;
  display: flex;
}
.shop-app-product-detail-image-wrap{
  width: 450px;
  height: 450px;
}
.shop-app-product-detail-image-wrap-img{
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
.shop-app-product-sell{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.shop-app-product-sell__name{
  font-size: 3rem;
  color: var(--text-color);
}
.shop-app-product-sell-sold{
  display: flex;
  align-items: center;
}
.shop-app-product-sell-sold__favorite{
  font-size: 1.6rem;
  background-color: rgb(208, 1, 27);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 20px;
}
.shop-app-product-sell-sold__number{
  font-size: 2rem;
}
.shop-app-product-sell-sold__number span{
  text-decoration: underline;
}
.shop-app-product-sell-price{
  font-size: 5rem;
  color: red;
  padding: 5px 10px;
  background-color: var(--app-background-color);
  text-align: center;
}
.shop-app-product-sell-price__money{

}
.shop-app-product-sell-number{
  display: flex;
  font-size: 2rem;
  padding: 5px 10px;
}
.shop-app-product-sell-number__label{
  padding: 5px 20px;
}
.shop-app-product-sell-number-input{
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  align-items: stretch;
}
.shop-app-product-sell-number__minus{
  border-radius: 5px 0 0 5px;
}
[name ="numberOfPurchase"]{
  width: 50px;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}
.shop-app-product-sell-number__plus{
  border-radius: 0 5px 5px 0;
}
.shop-app-product-sell-number-ready{
  margin: auto;
  margin-left: 10px
}
.shop-app-product-sell-number-ready span{
  text-decoration: underline;
}
.shop-app-product-sell-buttons{
  display: flex;
  margin-top: 20px;
}
.shop-app-product-sell-buttons-cart{
  margin-right: 10px;
}
.shop-app-product-sell-buttons-buy{

}
.shop-app-product-description{
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.shop-app-product-description__label{
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}
.shop-app-product-description-content{
  position: relative;
}
.shop-app-product-description-content.disappear{
  height: 150px;
  overflow: hidden;
}
.description__text{
  padding :10px 20px;
  font-size: 1.8rem;
  background: var(--app-background-color);
  border-radius: 5px;
}
.shop-app-product-description-content.disappear .description__gradient{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}
#btnMore{
  margin: 0 auto;
  background-color: white;
  color: var(--primary-color);
  border:1px solid var(--primary-color);
}
#btnMore:hover{
  background-color: var(--primary-color);
  color: white;
  opacity: 1;
}